<!DOCTYPE html>
<html lang="ES">
<head>
	<meta charset="UTF-8"/>
	<meta name ="viewport" content="width:device-width, maximum-scale = 1"/>
	<title>Portafolio.la</title>	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/stylesheet.css">
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contacto</a></li>
			</ul>
		</nav>
			<figure class="Header-imageContainer">
				<img class="Header-image" src="../static/images/avatar.jpg" alt="Imagen personal"/>
				<figcaption class="Header-imageDescription">
					<a class="Header-link" href="http://twitter.com/UnLadronHonrado" target="_blank">@UnLadronHonrado</a>
				</figcaption>
				<p class="Header-name">Sebastián Agredo Alegria</p>
			</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi Perfil</h2>
		<p class="Profile-description"><strong>Hola</strong>, si <span class="Profile-span">llegaste</span> hasta aquí puedes ver mi portafolio y <em>contactarme</em></p>
		<a class="Profile-link" href="http://twitter.com/UnLadronHonrado" target="_blank">@UnLadronHonrado</a>
		<a class="Profile-link" href="http://www.facebook.com/zucho.ladronhonrado" target="_blank">Zuchö LH</a>
		<a class="Profile-link" href="https://github.com/llzucholl" target="_blank">llzucholl</a>
	</section>
	<section id="trabajo" class="Work">
		<h2 class="Work-title u-title">Mi Trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article> 			
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb2.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article> 		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb3.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article> 		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article> 		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb2.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure>
		</article> 	
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb3.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure> 
		</article> 		
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb2.jpg" alt="Es la descripción de mi imagen">
				<figcaption class="Work-description">Website de mejorando.la</figcaption>
			</figure> 
		</article> 		
	</section>
	<footer class="Footer" id="contacto">
		<div class="Footer-left">
			<h3 class="Footer-title">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar con migo, ponte en contacto por medio de 	este formulario</p>
		</div>
		<form class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder="Email"/>
			<textarea class="Footer-textarea" name="" id="" cols="20" rows="3" placeholder="Motivo"></textarea>
			<button class="Footer-button" type="submit">Contactarme</button>
		</form>
	</footer>
</body>
</html>